<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new video</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="./Add new video/styles/main.css">
    <link href="https://api.fontshare.com/v2/css?f[]=chillax@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css">
    <link href="//db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=Mazzard+H" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Add <span class="coloredtext">new</span> video</h1>
        </div>
        <div class="youtubeLink">
            <h3>Youtube Link</h3>
            <input type="url" class="input__youtubeLink" placeholder="Paste link…">
        </div>
        <div class="nameOfVideo">
            <h3>Name of video</h3>
            <input type="text" class="input__nameOfVideo" placeholder="Type name…">
        </div>
        <div class="description">
            <h3>Description</h3>
            <input type="text" class="input__description" placeholder="Type description…">
        </div>
        <div class="button__section">
            <button class="cancel">
                <a href="#">Cancel</a>
            </button>
            <button class="submit">
                <a href="#">Submit</a>
            </button>
        </div>
    </div>
</body>
</html>