<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Videonova home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="./Home/styles/main.css">
    <link href="https://api.fontshare.com/v2/css?f[]=chillax@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css">
    <link href="//db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=Mazzard+H" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header__logo">
                <a href="#"><img class="header__logo" src="./svg/Logo.svg" alt="Videonova"></a>
            </div>
            <button class="signUp"><a href="#">
                Sign Up</a>
            </button>
        </div>
        <div class="section1">
            <h1>Welcome To <span class="coloredtext">VideoNova</span></h1>
            <p>Create videos with a single click. Add subtitles, transcribe audio and more</p>
            <button class="startNow">
                <a href="#">Start Now</a>
            </button>
        </div>
        <div class="section2">
            <div class="section2__content">
                <h2>Best Creators</h2>
                <div class="section2__logo">
                    <a href="#"><img class="section2__logo" src="./svg/ranking.svg" alt=""></a>
                </div>
            </div>
            <div class="wrapper__cardUsers">
                <div class="cardUser 1">
                        <div class="cardUser1 pic">
                            <img class="pic" src="./svg/annamay.svg" alt="">
                            <h3>Anna May</h3>
                            <div class="group">
                                <div class="group__logo">
                                    <div class="logo__qty"><a href="#"><img class="qty" src="./svg/video-square.svg" alt=""></a></div>
                                    <p>12 videos</p>
                                </div>
                                <div class="group__logo">
                                    <div class="logo__value"><a href="#"><img class="qty" src="./svg/heart.svg" alt=""></a></div>
                                    <p>255 likes</p>
                                </div>
                            </div>
                        </div>
                        <button class="toProfile"><a href="#">To profile</a></button>
                </div>
                <div class="cardUser 2">
                        <div class="cardUser2 pic">
                        <img class="pic" src="./svg/janedou.svg" alt="">
                        <h3>Jane Dou</h3>
                        <div class="group">
                            <div class="group__logo">
                                <div class="logo__qty"><a href="#"><img class="qty" src="./svg/video-square.svg" alt=""></a></div>
                                <p>27 videos</p>
                            </div>
                            <div class="group__logo">
                                <div class="logo__value"><a href="#"><img class="qty" src="./svg/heart.svg" alt=""></a></div>
                                <p>120 likes</p>
                            </div>
                        </div>
                        <button class="toProfile"><a href="#">To profile</a></button>
                    </div>
                </div>
                <div class="cardUser 3">
                    <div class="cardUser3 pic">
                        <img class="pic" src="./svg/kerrywillams.svg" alt="">
                        <h3>Kerry Willams</h3>
                        <div class="group">
                            <div class="group__logo">
                                <div class="logo__qty"><a href="#"><img class="qty" src="./svg/video-square.svg" alt=""></a></div>
                                <p>255 videos</p>
                            </div>
                            <div class="group__logo">
                                <div class="logo__value"><a href="#"><img class="qty" src="./svg/heart.svg" alt=""></a></div>
                                <p>305 likes</p>
                            </div>
                        </div>
                    </div>
                    <button class="toProfile"><a href="#">To profile</a></button>
                </div>
                <div class="cardUser 4">
                    <div class="cardUser4 pic">
                        <img class="pic" src="./svg/denbennet.svg" alt="">
                        <h3>Den Bennet</h3>
                        <div class="group">
                            <div class="group__logo">
                                <div class="logo__qty"><a href="#"><img class="qty" src="./svg/video-square.svg" alt=""></a></div>
                                <p>12 videos</p>
                            </div>
                            <div class="group__logo">
                                <div class="logo__value"><a href="#"><img class="qty" src="./svg/heart.svg" alt=""></a></div>
                                <p>400 likes</p>
                            </div>
                        </div>
                    </div>
                    <button class="toProfile"><a href="#">To profile</a></button>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer__wrapper">
                <a href="#"><img class="logo__footer" src="./svg/Vector.svg" alt=""></a>
                <p>All Rights Reserved 2022</p>
                <div class="footer__icons">
                    <a href="#"><img class="logo__footer" src="./svg/telegram.svg" alt=""></a>
                    <a href="#"><img class="logo__footer" src="./svg/discord.svg" alt=""></a>
                    <a href="#"><img class="logo__footer" src="./svg/twitter.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>